$linear-black-gradiend: linear-gradient(
  321.7deg,
  rgba(45, 49, 53, 1) 24.16%,
  rgba(53, 57, 62, 1) 72.5%
);
$linear-blue-gradiend: linear-gradient(
  90.01deg,
  rgba(0, 231, 240, 1) 4.2%,
  rgba(0, 109, 240, 1) 52.11%,
  rgba(0, 128, 255, 0.9) 100.03%
);

$linear-blue-green-gradiend: linear-gradient(
  87deg,
  rgba(46, 49, 146, 1) 7.59%,
  rgba(87, 203, 161, 1) 94.35%
);
