.home-new-fold2-title {
  font-size: mvw1(24px);
  line-height: mvw1(29px);
  @include fontExtraBold;
  width: fit-content;
  background: linear-gradient(90deg, #a3bded 0%, #6991c7 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  margin-left: mvw1(37px);
}
.home-new-fold2-card {
  width: mvw1(92px);
  height: mvw1(95px);
  background: linear-gradient(321.7deg, #2d3135 24.16%, #35393e 72.5%);
  box-shadow: mvwDivide(-2px) mvwDivide(-2px) mvwDivide(4px)
      rgba(74, 78, 83, 0.5),
    mvwDivide(2px) mvwDivide(2px) mvwDivide(6px) rgba(35, 37, 39, 0.8),
    mvwDivide(8px) mvwDivide(8px) mvwDivide(30px) rgba(35, 37, 39, 0.9),
    mvwDivide(-6px) mvwDivide(-6px) mvwDivide(20px) rgba(74, 78, 83, 0.7);
  border-radius: mvwDivide(5px);
  padding: mvw1(5px) mvw1(5px) mvw1(10px) mvw1(5px);
  margin-right: mvw1(18px);
  margin-bottom: mvw1(28px);
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;

  img {
    width: mvw1(30px);
    height: auto;
    margin-bottom: mvw1(13px);
  }
}
.home-new-rws2 {
  img {
    width: mvw1(43px);
  }
}
.home-new-rws13 {
  img {
    margin-bottom: mvw1(5px);
  }
}

.home-new-fold2-card-text {
  font-size: mvw1(10px);
  line-height: mvw1(14px);
  @include fontNunitoBold;
  margin-bottom: 0;
  color: #ffffff;
}
.home-new-fold2-text1 {
  font-size: mvw1(18px);
  line-height: mvw1(25px);
  @include fontExtraBold;
  margin-bottom: mvw1(43px) !important;
  letter-spacing: 0.01em;
  color: #ffffff;
  text-align: left;
  margin-left: mvw1(47px);
}
.home-new-fold2-text1--new {
  text-align: right;
  margin-right: mvw1(70px);
  margin-bottom: mvw1(28px) !important;
}
.home-new-fold2-row {
  padding-top: mvw1(43px);
  position: relative;
  z-index: 2;
}
.home-new-fold2-row__card-colm1 {
  width: mvwDivide(584px);
  padding-top: mvwDivide(56px);
}
.home-new-fold2-row__card-colm2 {
  padding-top: mvwDivide(49px);
  flex-grow: 1;
}
.home-new-fold2-row__card-colm1-row,
.home-new-fold2-row__card-colm2-row {
  //   width: mvwDivide(380px);
  justify-content: center;
}
.home-new-fold2-row__card-colm1-row {
  margin-bottom: mvw1(22px);
}
.home-new-fold2-row__card-colm2-row {
  margin-bottom: mvw1(68px);
}
.home-new-fold2-text2 {
  font-size: mvwDivide(72px);
  line-height: mvwDivide(109px);
  @include fontSemiBold;
  width: fit-content;
  background: linear-gradient(90deg, #a3bded 0%, #6991c7 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -10%;
  position: absolute;
  left: 73%;
  z-index: -1;
}
.home-new-fold2-afterBlock {
  position: relative;
  &::after {
    content: "";
    width: 50%;
    height: mvwDivide(897px);
    position: absolute;
    right: 0;
    background: linear-gradient(180deg, #35393e 0%, #2f3337 100%);
    display: block;
    top: mvwDivide(142px);
  }
}
